@use '../../scss/variables.scss' as *;

.test-block {
  $block-name: &; // #{$block-name}__element

  color: var(--text-color);
  background: var(--bg-color);

  @media (width >= 768px) {
    background: $gray-lighter;
  }

  @media (width >= 1200px) {
    color: $black;
    background: rgb(0, 156, 130);
  }

  &__title {
    font-size: calc(16px * 2);
    margin-bottom: calc(16px * 1.5);
  }

  &__img {
    border-radius: calc(2em + 5px);

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 150px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 500;
    color: #f00;
    background-color: paleturquoise;
    background-position: center right 5px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: svg-load('../blocks/sprite-svg/svg/right-arrow.svg', fill=$main-color, stroke=rgba(255, 255, 255, 0));
    border: 2px solid var(--border-color);
    cursor: pointer;
  }
}
