@use '../../scss/variables.scss' as *;

.to-top {
  $block-name: &; // #{$block-name}__element

  position: fixed;
  right: 16px;
  bottom: 32px;
  z-index: 10;
  width: 56px;
  height: 56px;
  color: transparent;
  background-color: $secondary-color;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font: 0/0 a;

  // см. img_to_bg/to-up.svg
  // http://yoksel.github.io/url-encoder/ru/

  background-size: 30px;
  background-image: svg-load('../blocks/to-top/bg-img/to-up.svg', fill=$white);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid $white;
  border-radius: $border-radius;
  transform: rotate(180deg);

  .js & {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
